name: Build Plugins

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant permission
        run: chmod +x gradlew

      - name: Build Plugins
        run: ./gradlew make

      - name: Push to builds branch
        run: |
          git config user.name github-actions
          git config user.email actions@github.com
          git fetch
          git checkout builds || git checkout --orphan builds
          git rm -rf .
          cp -r build/plugins/* .
          git add .
          git commit -m "Update plugins" || echo "No changes"
          git push origin builds --force